<footer>
    <article>
        <i class="fa-solid fa-credit-card icono"></i>
        <h4 class="subtitulo">Pagá con tarjeta o en efectivo</h4>
        <p class="descripcion">Con MercadoLiebreCash tenés cuotas sin interés con tarjetas o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    
    <article>
        <i class="fa-solid fa-gift icono"></i>
        <h4 class="subtitulo">Envío gratis desde los $ 2.500</h4>
        <p class="descripcion">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
    </article>

    <article>
        <i class="fa-solid fa-user-shield icono"></i>
        <h4 class="subtitulo">Seguridad de principio a fin</h4>
        <p class="descripcion">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.</p>
    </article>

    <article class="copyright">
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </article>

</footer>