<header class="header">
    <div class="primeraLinea"> <!--Logo, Busqueda y Mensaje-->
        <a href="/"><img id="logo" src="/images/logo-mercado-liebre.svg"></a>
        <input id="busqueda" type="text" placeholder="Buscar productos, marcas">
        <button type="button" class="boton-buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
        <span id="mensajeHeader" style="color: black;"><i class='fas fa-hand-holding-usd'></i>  Comprá en cuotas y sin tarjeta de crédito</span>
    </div>
    
    <div class="menu-desktop"><!--Menu Tablet y Desktop-->
        <div class="menu1"> <!--Menu Izquierdo-->
            <a href="#">Ofertas</a>
            <a href="#">Tiendas Oficiales</a>
            <a href="#">Vender</a>
            <a href="#">Ayuda</a>
        </div>

        <div class="menu2"> <!--Menu Derecho-->
            <a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a>
            <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
            <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
        </div>
    </div>

    <div id="mySidepanel" class="sidepanel"> <!--Menu Mobile-->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Ofertas</a>
        <a href="#">Tiendas Oficiales</a>
        <a href="#">Vender</a>
        <a href="#">Ayuda</a>
        <a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a>
        <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
        <a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a>
    </div>
    <button class="openbtn" onclick="openNav()">&#9776;</button>
</header>
