<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<body>
    <!--HEADER cargado desde header.html-->
    <div w3-include-html="/header"></div>

    <!-- Contenido de HOME - Inicio -->
    <main>
        <img id="banner" src="/images/img-home-banner.jpg">
        

        <!--SECCIÓN: Basado en tu última visita-->
        <h3 style="color:#666; text-align: center;">Basado en tu última visita</h3>
               
        <section class="seccion">
            <!--Cafetera Moulinex-->
            <article class="productos">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$6.770</p></div>
                        <div><p class="descuento">40% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">Cafetera Moulinex</p></div>
                </div>
            </article>
            
            <!--MacBook-->
            <article class="productos">
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$230.000</p></div>
                        <div><p class="descuento">20% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">MacBook Pro 2019</p></div>
                </div>
            </article>
            
            <!--Samsung Galaxy-->
            <article class="productos">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$70.500</p></div>
                        <div><p class="descuento">10% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">Samsung Galaxy S10</p></div>
                </div>
            </article>

            <!--SmartTv-->
            <article class="productos">
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$23.200</p></div>
                        <div><p class="descuento">5% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">SmartTv Samsung 43"</p></div>
                </div>
            </article>
        </section>
        
        <!--SECCIÓN: Basado en tu última visita-->
        <h3 style="color:#666; text-align: center;">Ofertas</h3>
        
        <section class="seccion">
            <!--Cafetera Cafetera Moulinex-->
            <article class="productos">
                <img src="/images/img-cafetera-moulinex.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$6.770</p></div>
                        <div><p class="descuento">40% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">Cafetera Moulinex</p></div>
                </div>
            </article>

            <!--MacBook-->
            <article class="productos">
                <img src="/images/img-macbook-pro-2019.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$230.000</p></div>
                        <div><p class="descuento">20% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">MacBook Pro 2019</p></div>
                </div>
            </article>

            <!--Samsung Galaxy-->
            <article class="productos">
                <img src="/images/img-samsung-galaxy-s10.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$70.500</p></div>
                        <div><p class="descuento">10% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">Samsung Galaxy S10</p></div>
                </div>
            </article>

            <!--SmarTv-->
            <article class="productos">
                <img src="/images/img-tv-samsung-smart.jpg">
                <div class="infoproducto">
                    <div class="precio_descuento">
                        <div><p class="precio">$23.200</p></div>
                        <div><p class="descuento">5% OFF</p></div>
                        <div class="circulo"><i class="fa-solid fa-truck"></i></div>
                    </div>
                    <div class="bloqueNombre"><p class="nombre">SmartTv Samsung 43"</p></div>
                </div>
            </article>
        </section>
        
    </main>
    <!-- Contenido de HOME - Fin -->

    <!--FOOTER cargado desde footer.html-->
    <div w3-include-html="/footer"></div>
    
    

<script src="/js/nav_script.js"></script>
<script src="/js/include.js"></script>
<script>includeHTML();</script>
</body>
</html>