/*Smartphones*/
@media (min-width: 361px) {

}

/*Tablets*/
@media (min-width: 769px) {
  .seccion article {
    width: 40%;
  }

  /* Estilos del header*/
  .header .primeraLinea {
    flex-wrap: nowrap;
  }

  #busqueda {
    width: 30vw;
  }

  .boton-buscar {
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    margin-left: -15px;
  }

  .boton-buscar:active {
    background-color: grey;
  }

  #logo {
    width:30vw;
  }

  #mensajeHeader {
    width: 30vw;
  }
  
  .menu-desktop { /*Mostrar Menu Tablet y Desktop*/
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

  }
  
  .menu-desktop a {
    margin: 0px 10px;
    color:black;
    text-decoration: none;
  }

  .openbtn { /*Ocultar Menu Mobile*/
    display: none;
  }

}

/*Desktop*/
@media (min-width: 1024px) {
  .seccion article {
    width: 20%;
  }
}