@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0 px ;
  padding: 0 px ;
  box-sizing: border-box ;
  }

body {
  margin:0;
  font-family: 'Roboto', sans-serif;
  color:#666;
}

p {
  font-size: 12px;
}

h3 {
  font-size: 24px;
}

main {
  background-color: #ebebeb;
  padding: 20px 0px;
}

/*Estilos del header*/
.header {
  background-color:#EAC926;
  padding:20px 10px;
}

.header .primeraLinea {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Estilos de la barra de búsqueda */
#busqueda {
  width: 40vw;
  float: right;
  padding: 6px;
  border: none;
  margin: 0vw 2vw;
  font-size: 17px;
  border-radius: 5px;
}

.boton-buscar {
  display: none;
}

/* Estilos del logo */
#logo {
  width:40vw;
  margin: 0vw 2vw;
}

/* Estilos Label Header */
#mensajeHeader {
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;
  margin: 2vh 0px;
  text-align: center;
  width: 100vw;
}

.fa-hand-holding-usd {
  margin-right:5px;
}

/*Estilos ícono menu*/
.sidepanel {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #03264C; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #03264C;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;;
  border: none;
  border-radius: 5px;
  display: table;
  margin: 5px auto 0px auto;
}

.openbtn:hover {
  background-color: #444;
}

/*Estilos Menu Desktop*/
.menu-desktop {
  display:none;
}

/*Estilos del Banner*/
#banner {
  width: 100%;
  margin-bottom: -4px;
}

/* Estilo de Productos */
.productos {
  background-color: white;
  margin: 10px 20px 0px 20px;
  padding: 15px;
  width: 100%;
  position: relative;
}

.productos img {
  width: 80%;
  margin: 0px auto;
  display: block;
}

.productos .precio {
  margin-left: 30px;
  display: inline;
  font-size: 18px;
}

.productos .descuento {
  margin-left: 10px;
  display: inline;
  font-size: 16px;
  color: #39b54a;
}

.productos .nombre {
  margin-left: 30px;
  display: block;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}

.infoproducto {
  border-top:1px solid #ebebeb;
}

.circulo {
  margin-left:auto;
  border: 1px solid #39b54a;
  border-radius: 50%;
  color: #39b54a;
  margin-top: -40px;
  height: 40px;
  background-color: white;
}

.infoproducto i {
  padding:10px;
}

.infoproducto .fa-truck {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* Pie de Página */
footer {
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}

footer .icono {
  color:#03264C;
  font-size: 30px;
  margin-bottom: 5px;
  margin-top: 30px;
}

footer .icono:hover {
  color:#0022AA;
}

footer .subtitulo {
  margin: 0px;
}

footer .descripcion {
  margin-top:0px;
  padding: 0px 20px;
}

footer .copyright {
  text-align: center;
  margin-top: 30px;
}

/*Estilos para main*/
main {
  width:90%;
  display:block;
  margin:0px auto;
}

.precio_descuento {
  margin-top:20px;
  display:flex;
}

.seccion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  align-content: center;
  margin-bottom: 40px;
}

/* Estilos para register.html - Inicio */
.create-form {
  padding:20px 15px;
  
}

.control-formulario {
  margin-bottom: 15px;
}

.control-formulario label {
  margin-bottom: 5px;
  font-style: italic;
  display: block;
  font-size: 1.2em;
}

.control {
  width: 100%;
  padding: 8px;
  border:none;
  font-size: 1.2em;
}

.boton-formulario {
  border:none;
  font-size: 20px;
  color:white;
  padding: 5px 10px;
  border-radius: 5px;
}

#fechaNacimiento {
  font-size:20px;
}

#encabezado {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.radios {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.checkboxes {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.checkboxes label, 
.checkbox {
  margin-left: 20px;
}

#boton-borrar {
  background-color: #666;
}

#boton-enviar {
  background-color: #03264C;
}
/* Estilos para register.html - Fin */

/*Estilos para login.html - Inicio*/
.login-form {
  padding:20px 15px;
}

.login-form .control {
  width: 70%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#boton-login {
  background-color: #03264C;
  width: 70%;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px;
}

#boton-login:hover {
  background-color: #0022AA;
  transition: background-color 200ms ease;
}


/*Estilos para login.html - Fin*/

/*Animaciones -- Inicio */
.bloqueNombre {
  height: 0px;
  opacity: 0;
  position: absolute;
  top: 240px;
}

.productos:hover .bloqueNombre {
  height: 50px;
  background-color: white;
  top: 310px;
  opacity: 1;
  right: 0;
  left: 0;
  box-shadow: 0px 7px 10px 0px grey;
  transition: height 100ms ease;
  transition: opacity 600ms ease;
  transition: box-shadow 600ms ease;  
}
.productos:hover {
  box-shadow: 0px 0px 10px grey;
  transition: box-shadow 600ms ease;
}

.fa-truck:hover {
  rotate: -90deg;
  transition: rotate 500ms ease;
}

/*Animaciones -- Fin */


/* RESPONSIVE STYLES  - Inicio */

/*Smartphones*/
@media (min-width: 361px) {

}

/*Tablets*/
@media (min-width: 769px) {
  .seccion article {
    width: 40%;
  }

  /* Estilos del header*/
  .header .primeraLinea {
    flex-wrap: nowrap;
  }

  #busqueda {
    width: 30vw;
  }

  .boton-buscar {
    display: inline-block;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    margin-left: -15px;
  }

  .boton-buscar:active {
    background-color: grey;
  }

  #logo {
    width:30vw;
  }

  #mensajeHeader {
    width: 30vw;
  }
  
  .menu-desktop { /*Mostrar Menu Tablet y Desktop*/
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;

  }
  
  .menu-desktop a {
    margin: 0px 10px;
    color:black;
    text-decoration: none;
  }

  .openbtn { /*Ocultar Menu Mobile*/
    display: none;
  }

}

/*Desktop*/
@media (min-width: 1024px) {
  .seccion article {
    width: 20%;
  }

  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .bloqueFooter {
    width: 30%;
  }

  .copyright {
    width: 100%;
  }
}

/* RESPONSIVE STYLES  - Fin */